@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@font-face {
  font-family: "Arvlow";
  src: local("Arvlow"), url("./fonts/Arvlow.otf") format("truetype");
  font-weight: bold;
}

body {
  font-family: "Arvlow";
  height: 100%;
  margin: 0;
  background-image: url("./images/bg.jpg");
}

.header {
  margin: 0;
  background-color: #e70112;
  box-shadow: 0px 8px 13px -5px rgba(43, 43, 43, 1);
  border-bottom: #fcd000 solid 5px;
  z-index: 0;
  text-align: center;
  padding: 20px;
}
.scoreboard {
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 40px;
}
.best {
  background-color: #fcd000;
}
.current {
  background-color: #009ddb;
}
.current,
.best {
  padding: 10px;
  border-radius: 30px;
  min-width: 140px;
  text-align: center;
  box-shadow: 0px 8px 13px -5px rgba(43, 43, 43, 1);
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current:hover,
.best:hover {
  transform: scale(1.05);
}
.game-board {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  text-align: center;
  display: inline-grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.card {
  width: 200px;
  background-color: #e70110c6;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 8px 13px -5px rgba(43, 43, 43, 1);
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.card:hover {
  transform: scale(1.05);
}
.title {
  color: #fefefe;
}
